@mixin flex-position ($horizontal,$vertical){
    justify-content: $horizontal;
    align-items: $vertical;
}
@mixin background($bgsize,$bgrepeat,$bgposition){
    background-size: $bgsize;
    background-repeat: $bgrepeat;
    background-position: $bgposition;
}
    
