// size

$size01:14px;
$size02:20px;
$size03:30px;
$size04:50px;
$size05:100px;

// color
$color01:#000;
$color02:#F0F0F0;
$color03:#fff;

// fonts
$font-family01:'Playfair Display', serif;
$font-family02: 'Ubuntu', sans-serif;

// margin
$margin-top01:15px;
$margin-top02:30px;
$margin-top03:100px;
$margin-top04:60px;

